# Hugo default output
public
resources
.hugo_build.lock

# OS
.DS_Store
Thumbs.db

# Node
node_modules

# Env & Secrets (Critical)
.env
src/bot/
.github/workflows/run_bot.yml

# Tina
tina/__generated__
