{{/* (Edited by Win-AG웅) */}}
{{ $pinnedPosts := where (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) "Params.pinned" true }}
{{ $recentPosts := where (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) "Params.pinned" "!=" true }}

{{/* 1. Pinned 컨텐츠 영역 */}}
{{ if gt (len $pinnedPosts) 0 }}
  <div class="mb-10">
    <h2 class="mt-8 text-2xl font-extrabold mb-6">Featured</h2>
    <section class="w-full grid gap-4 sm:grid-cols-2 md:grid-cols-3">
      {{ range $pinnedPosts }}
        {{ partial "article-link/card.html" . }}
      {{ end }}
    </section>
  </div>
  <hr class="my-12 border-neutral-300 dark:border-neutral-700" />
{{ end }}

{{/* 2. 최근 컨텐츠 영역 */}}
<div class="mb-10">
  <h2 class="mt-8 text-2xl font-extrabold mb-6">Recent</h2>
  <section class="w-full grid gap-4 sm:grid-cols-2 md:grid-cols-3">
    {{ range first 6 $recentPosts }}
      {{ partial "article-link/card.html" . }}
    {{ end }}
  </section>
</div>

{{/* Show More 더보기 링크 */}}
{{ if .Site.Params.homepage.showMoreLink | default true }}
  {{ $showMoreLinkDest := "/post/" }}
  {{ if eq .Lang "ko" }}
    {{ $showMoreLinkDest = "/ko/post/" }}
  {{ end }}
  <div class="mt-12 flex justify-center">
    <a href="{{ $showMoreLinkDest }}">
      <button
        class="bg-transparent hover:text-primary-500 font-semibold py-2 px-6 border border-primary-500 hover:border-transparent rounded transition duration-200">
        {{ i18n "recent.show_more" | default "Show More" }}
      </button>
    </a>
  </div>
{{ end }}
